* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Amazon Ember", Arial, sans-serif;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

h1 {
    font-weight: 400;
    font-size: 24px;
}

.dflex {
    display: flex;
    /* align-items: center; */
    /* justify-content:space-between; */
    /* padding: 0 10px; */
}

.text-links {
    font-weight: 400;
    font-size: 14px;
    color: #007185;
}

.text-links:hover {
    color: #CC5142;
}

.hborder:hover {
    border: 1px solid #fff;
    border-radius: 2px;
}

.top-nav {
    background: #131921;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    color: #fff;
    height: 60px;
}

.left-side {
    margin-left: 20px;
    margin-bottom: -5px;
    width: 16%;
    /* padding: 6px 8px 0 0; */
    justify-content: space-around;
}

.left-side div {
    /* padding: 0 10px; */
}

.search-bar {
    width: 60%;
    height: 75%;
    justify-content: stretch;
}

.search-bar * {
    border: none;
}

.search-bar .all {
    width: 51px;
    align-items: center;
    border-right: 1px solid;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 14px;
    font-weight: 400;
}

.search-bar input {
    width: 90%;
}

.search-bar .search-button {
    background: #f3a847;
    width: 45px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.right-side {
    justify-content: space-between;
    width: 28%;
    margin-bottom: -5px;
    align-items: center;

}

.shopping-cart {
    background: url("../images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
        no-repeat -10px -340px;
    width: 38px;
    height: 26px;
}

nav {
    width: 100%;
    height: 39px;
    background: #232f3e;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

nav a {
    color: #fff;
    padding: 5px;
    margin:  5px;
}

nav a:hover {
    border: 1px solid #fff;
}

.container {
    justify-content: space-around;
    margin-top: 50px;
}

.pics-preview {
    flex-direction: column;
    justify-content: space-between;
    height: 280px;
}

.pics-preview div{
    flex-direction: column;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
}

.pics-preview div:hover{
    border: 1px solid #E77600;
}

.big-pic {
    height: 460px;
    width: 460px;
    background: url(../images/61j17FjPhtL._AC_SX466_.jpg) no-repeat center ;
}

.pics-preview div:nth-child(1){
    background: url(../images/41gT9mzRM8L._AC_US40_.jpg);
}
.pics-preview div:nth-child(2){
    background: url(../images/41-cQZNga6L._AC_US40_.jpg);
}
.pics-preview div:nth-child(3){
    background: url(../images/31zHjKKP0VL._AC_US40_.jpg);
}
.pics-preview div:nth-child(4){
    background: url(../images/41UJCr4PxcL._AC_US40_.jpg);
}
.pics-preview div:nth-child(5){
    background: url(../images/51auquuzbVL._AC_US40_.jpg);
}
.pics-preview div:nth-child(6){
    background: url(../images/31pK3XMRYoL._AC_US40_.jpg);
}

.title-section {
    border-bottom: 1px solid #E7E7E7;
}

.product-info-center {
    flex-direction: column;
}

/* Sprite */
.sprite-logo {
    background: url("../images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
        no-repeat -10px -51px;
    width: 96px;
    height: 29px;
}

.sprite-loc {
	background: url('../images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png') no-repeat -71px -379px;
	width: 15px;
	height: 17px;
}

.sprite-search-icon {
	background: url('../images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png') no-repeat -10px -290px;
	width: 21px;
	height: 21px;
}

.sprite-flag {
    background: url("../images/rzrQQdi0aRm6Dap.png") no-repeat 0 -130px;
    width: 24px;
    height: 16px;
}

.down-arrow {
    background: url("../images/AmazonUIIcon-sprite_1x-e9434610f810a3a99b3f0e49c1b938c9d76628b8._V2_.png")
        no-repeat -7px -103px;
    width: 10px;
    height: 7px;
}

.sprite-hamburger {
	background: url('../images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png') no-repeat -172px -255px;
	width: 18px;
	height: 14px;
}

.stars-rating {
	background: url('../images/3-fm1Jbg4IHlyhq.png') no-repeat -84px -28px;
	width: 80px;
	height: 15px;
}
